In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
sales_df = pd.read_csv('/Users/kadam/Desktop/CS689/Project/Data/GlobalSuperstore_raw.csv', encoding='latin-1')

In [5]:
sales_df = sales_df.sort_values(by='Row ID')

In [6]:
print(sales_df.head(5))

   Row ID        Order ID Order Date Ship Date       Ship Mode Customer ID  \
0       1  MX-2014-143658   02/10/14  06/10/14  Standard Class    SC-20575
1       2  MX-2012-155047   15/10/12  20/10/12  Standard Class    KW-16570
2       3  MX-2012-155047   15/10/12  20/10/12  Standard Class    KW-16570
3       4  MX-2012-155047   15/10/12  20/10/12  Standard Class    KW-16570
4       5  MX-2012-155047   15/10/12  20/10/12  Standard Class    KW-16570

    Customer Name   Segment           City             State  ...  \
0    Sonia Cooley  Consumer    Mexico City  Distrito Federal  ...
1  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...
2  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...
3  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...
4  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...

        Product ID         Category Sub-Category  \
0  OFF-LA-10002782  Office Supplies       Labels
1  FUR-FU-10004015        Furniture  Furnishings
2  FUR-BO-10002352        Furniture    Bookcases
3  OFF-BI-10004428  Office Supplies      Binders
4  OFF-AR-10004594  Office Supplies          Art

                         Product Name   Sales Quantity Discount Profit  \
0  Hon File Folder Labels, Adjustable   13.08        3      0.0   4.56
1                Tenex Clock, Durable  252.16        8      0.0  90.72
2        Ikea 3-Shelf Cabinet, Mobile  193.28        2      0.0  54.08
3              Cardinal Binder, Clear   35.44        4      0.0   4.96
4         Sanford Canvas, Water Color   71.60        2      0.0  11.44

   Shipping Cost  Order Priority
0           1.03          Medium
1          13.45          Medium
2           9.63          Medium
3           1.37          Medium
4           3.79          Medium

[5 rows x 24 columns]

In [7]:
# Getting the number of rows and columns
num_rows, num_columns = sales_df.shape

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 51290
Number of Columns: 24

In [8]:
income_df = pd.read_csv('/Users/kadam/Desktop/CS689/Project/Data/globalincomedata_raw.csv')

In [9]:
print(income_df.head(5))

       country  iso  GCAM_region_ID  year      REF gini_reported  \
0  Afghanistan  afg              27  1967  afg1967          0.29
1  Afghanistan  afg              27  1967  afg1967          0.29
2  Afghanistan  afg              27  1967  afg1967          0.29
3  Afghanistan  afg              27  1967  afg1967          0.29
4  Afghanistan  afg              27  1967  afg1967          0.29

   gdp_ppp_pc_usd2011  population Category  Income..net. gini_recalculated  \
0              1268.0  27722282.0       d1      0.032262       0.290652233
1              1268.0  27722282.0       d2      0.050450       0.290652233
2              1268.0  27722282.0       d3      0.061768       0.290652233
3              1268.0  27722282.0       d4      0.071800       0.290652233
4              1268.0  27722282.0       d5      0.081803       0.290652233

                     Data source
0  Imputed from GINI coefficient
1  Imputed from GINI coefficient
2  Imputed from GINI coefficient
3  Imputed from GINI coefficient
4  Imputed from GINI coefficient

### Pre-processing sales_df dataframe

In [10]:
column_row_counts = sales_df.count()
print(column_row_counts)

Row ID            51290
Order ID          51290
Order Date        51290
Ship Date         51290
Ship Mode         51290
Customer ID       51290
Customer Name     51290
Segment           51290
City              51290
State             51290
Country           51290
Postal Code        9994
Market            51290
Region            51290
Product ID        51290
Category          51290
Sub-Category      51290
Product Name      51290
Sales             51290
Quantity          51290
Discount          51290
Profit            51290
Shipping Cost     51290
Order Priority    51290
dtype: int64

In [11]:
# Checking for missing values
print(sales_df.isnull().sum())

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [12]:
# Since the missing values for column Postal code is more, this column will be dropped
sales_df = sales_df.dropna(axis=1)

In [13]:
print(sales_df.isnull().sum())

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

In [14]:
# Converting 'Order Date' and 'Ship Date' to datetime type
sales_df['Order Date'] = pd.to_datetime(sales_df['Order Date'], format='%d/%m/%y')
sales_df['Ship Date'] = pd.to_datetime(sales_df['Ship Date'], format='%d/%m/%y')

In [15]:
# Extracting year and month from 'Order Date'
sales_df['Order Year'] = sales_df['Order Date'].dt.year
sales_df['Order Month'] = sales_df['Order Date'].dt.month

In [16]:
print(sales_df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  MX-2014-143658 2014-10-02 2014-10-06  Standard Class    SC-20575
1       2  MX-2012-155047 2012-10-15 2012-10-20  Standard Class    KW-16570
2       3  MX-2012-155047 2012-10-15 2012-10-20  Standard Class    KW-16570
3       4  MX-2012-155047 2012-10-15 2012-10-20  Standard Class    KW-16570
4       5  MX-2012-155047 2012-10-15 2012-10-20  Standard Class    KW-16570

    Customer Name   Segment           City             State  ...  \
0    Sonia Cooley  Consumer    Mexico City  Distrito Federal  ...
1  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...
2  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...
3  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...
4  Kelly Williams  Consumer  Dos Quebradas         Risaralda  ...

  Sub-Category                        Product Name   Sales Quantity Discount  \
0       Labels  Hon File Folder Labels, Adjustable   13.08        3      0.0
1  Furnishings                Tenex Clock, Durable  252.16        8      0.0
2    Bookcases        Ikea 3-Shelf Cabinet, Mobile  193.28        2      0.0
3      Binders              Cardinal Binder, Clear   35.44        4      0.0
4          Art         Sanford Canvas, Water Color   71.60        2      0.0

  Profit Shipping Cost  Order Priority  Order Year  Order Month
0   4.56          1.03          Medium        2014           10
1  90.72         13.45          Medium        2012           10
2  54.08          9.63          Medium        2012           10
3   4.96          1.37          Medium        2012           10
4  11.44          3.79          Medium        2012           10

[5 rows x 25 columns]

In [17]:
sales_df.to_csv('/Users/kadam/Desktop/CS689/Project/Data/processedsalesdata.csv', index=False)  

print(f'DataFrame has been successfully written')

DataFrame has been successfully written

### Pre-processing income_df dataframe

In [18]:
# Getting the number of rows and columns
num_rows, num_columns = income_df.shape

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 85220
Number of Columns: 12

In [19]:
# Checking for missing values
print(income_df.isnull().sum())

country               0
iso                   0
GCAM_region_ID        0
year                  0
REF                   0
gini_reported         0
gdp_ppp_pc_usd2011    0
population            0
Category              0
Income..net.          0
gini_recalculated     0
Data source           0
dtype: int64

In [20]:
print(income_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85220 entries, 0 to 85219
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             85220 non-null  object
 1   iso                 85220 non-null  object
 2   GCAM_region_ID      85220 non-null  int64
 3   year                85220 non-null  int64
 4   REF                 85220 non-null  object
 5   gini_reported       85220 non-null  object
 6   gdp_ppp_pc_usd2011  85220 non-null  float64
 7   population          85220 non-null  float64
 8   Category            85220 non-null  object
 9   Income..net.        85220 non-null  float64
 10  gini_recalculated   85220 non-null  object
 11  Data source         85220 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 7.8+ MB
None

In [21]:

income_df['gini_recalculated'] = pd.to_numeric(income_df['gini_recalculated'], errors='coerce')

In [22]:
income_df.drop(['REF', 'Data source', 'gini_reported'], axis=1, inplace=True)

In [23]:
column_mapping = {
    'country': 'Country',
    'iso': 'ISO',
    'GCAM_region_ID': 'Region_ID',
    'year': 'Year',
    'gdp_ppp_pc_usd2011': 'GDP_PPC_USD2011',
    'population': 'Population',
    'Category': 'Income_Category',
    'Income..net.': 'Net_Income',
    'gini_recalculated': 'Gini_coeff',
}
income_df.rename(columns=column_mapping, inplace=True)

print(income_df.head())

       Country  ISO  Region_ID  Year  GDP_PPC_USD2011  Population  \
0  Afghanistan  afg         27  1967           1268.0  27722282.0
1  Afghanistan  afg         27  1967           1268.0  27722282.0
2  Afghanistan  afg         27  1967           1268.0  27722282.0
3  Afghanistan  afg         27  1967           1268.0  27722282.0
4  Afghanistan  afg         27  1967           1268.0  27722282.0

  Income_Category  Net_Income  Gini_coeff
0              d1    0.032262    0.290652
1              d2    0.050450    0.290652
2              d3    0.061768    0.290652
3              d4    0.071800    0.290652
4              d5    0.081803    0.290652

In [24]:
income_df.to_csv('/Users/kadam/Desktop/CS689/Project/Data/processedincomedata.csv', index=False)  

print(f'DataFrame has been successfully written')

DataFrame has been successfully written